@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>Hi, nice to see you here!</h1>
    <br/>
    <h5>This is a documentation site for my petproject named League Of Legends API.</h5>
    <br/>
    <h5>Techinal stack for this project on backend side:</h5>
    <h6>- ASP.NET 6 Web API</h6>
    <h6>- NHibernate5 + PostgreSql</h6>
    <h6>- FastEndpoints for REST</h6>
    <h6>- HotChocolate for GraphQL</h6>
    <h6>- Quartz for new data crawling</h6>
    <h6>- Newtonsoft.Json for data parsing</h6>
    <br/>
    <h4><a href="https://github.com/The-Katsu">My Github</a> and <a href="https://github.com/The-Katsu/LeagueOfLegendsApi">Source code</a> links</h4>
</div>